{% load static %}
{% if request.user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="{% static 'Todo/main.css' %}">
<h2 class="user">{{ request.user.username }}</h2>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
</style>
<a id="tsk-hover" class="tsk-a" href="{% url 'add_task' %}">New Task</a>
<hr>
<table>



  <tr>
    <th>Tasks</th>
    <th>Description</th>
    <th>Priority</th>
  </tr>
  {% for i in tasks %}
  <tr>
    <td> {{ i.title }} </td>
    <td> {{ i.description }} </td>
    <td> {{ i.tags }} </td>
    <td> <a class="button8-task" href="{% url 'edit' i.id %}">Edit</a> </td>
  </tr>
  {% endfor %}

</table>
<hr>
<a class="button-8" href="{% url 'logout' %}">Logout</a>
<!-- {% else %} -->
<!-- <a href="{% url 'login' %}">Login</a>
  <a href="{% url 'register' %}">Signup</a> -->
{% endif %}