body{
    background-color: rgb(237, 236, 236);
    /* font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif; */
    height: 100vh;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
*{
    padding: 0;
    margin: 0;
}
/* button{
    height: 120px;
    width: 80px;
    background-color: rgb(65, 65, 236);
    color: antiquewhite;
    text-decoration: none;
} */

.btn{
height: 38px;
width: 80%;
  background-color: #192129;
  
  border-radius: 10px;
  outline: none;
  text-decoration: none;
}  

.user{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 300;
    padding: 0;
    margin: 10px;
}


a, a:hover, a:active, a:visited { color: white; }
/* CSS */


/* .tsk-a{
  
    
    width: 500px;
    
} */
.tsk-a{
    height: 38px;
    width: 100%;
    color: rgb(7, 71, 167);
    margin-top: 10px;
    border-radius: 15px;
    
    text-align: left;
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: 0;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

}


.tsk-a:hover{
    color: #0d2e53;
    background-color: rgb(220, 231, 250);
    opacity:5;
}

#tsk-hover{
    
    color: #1a66be;
}
#tsk-hover:hover{
    color: #0d2e53;
}
#mydiv{
   background-color: #797eb7;
   height: 50px;
    width:200px;
    
    border-radius: 10px;
   
    
}
/* .tsk-link:active{
    color: #797eb7;
} */
/* .tsk-link:hover{
     color: rgb(218, 226, 235);
} */
/* .tsk-link:active{
     color: rgb(47, 124, 206);
}
.tsk-link:visited{
     color: rgb(47, 124, 206);
} */
.button-8 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #d81313;
    text-align: center;
    width: 20%;
    height: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px;
    font-weight: 0;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: 15px;
}
.button-9 {
    height: 30px;
    width: 20%;
    color: rgb(255, 255, 255);
    margin-top: 6px;
    border-radius: 15px;
    background-color: #1a66be;
    text-align: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: 0;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
  
.button-8:disabled {
    cursor: default;
}
  
.button-8:focus {
    box-shadow: rgba(251, 251, 254, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
.container{
    
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.main-view{
    background-color: white;
    padding: 35px;
    padding-top: 25px;
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
   
    align-items:flex-start;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}